* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #ddd;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #282d35;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #21222a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px 40px;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.logo-container {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.main-container {
  padding: 60px 40px;
}

.main_title {
  font-size: 40px;
  font-weight: 700;
}

.list_container {
  margin: 30px 20px;
}

.facts {
  line-height: 20px;
  margin: 20px 15px;
}

::marker {
  color: #61dafb;
  font-size: 22px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
